
.dark-mode section{
    background-color: lightblue;
    color: white;
}
.dark-mode .bg-blue-100{
    background-color: lightblue;
    color: white;
}
.dark-mode .bg-white{
    background-color: rgb(40, 40, 99);
}
.dark-mode .text-gray-700{
    color:white
} */
body {
  background-color: #ffffff;
  color: #000000;
  transition: 0.3s;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

button {
  padding: 10px 15px;
  cursor: pointer;
  margin: 20px;
}
#progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  width: 0%;
  background: #00ffcc;
  z-index: 1000;
}
.nav-link.active {
  color: #2563eb; 
  border-bottom: 2px solid #2563eb;
}
#back-to-top {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#back-to-top.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f7fb;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 40px auto;
}

h1 {
  text-align: center;
  color: #333;
}


#education-list {
  max-width: 700px;
  margin: auto;
}

.education-card {
  background: #ffffff;
  border-left: 5px solid #f87171;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

.education-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.education-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: #333;
}

.education-course {
  font-size: 18px;
  margin-top: 8px;
  color: #111;
}

.education-college {
  color: #555;
  margin-top: 4px;
}

.education-percentage {
  margin-top: 8px;
  color: green;
  font-weight: bold;
}
